.app-container{
  background: #F0F6FC;
}

.border-transparent{
  border: none!important;
}

.border-1{
  border: 1px solid lightgrey;
}

.orange-btn{
  background-color: #FF7439!important;
}

.width-100{
  max-width: 100px;
  width: 100%;
}

.position-absolute{
  position: absolute;
}